*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    margin: 0; 
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
    box-sizing: border-box;
   
}




/* ------------------ */

/* Header */
.top-div {
  height: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px) saturate(1.8) brightness(1) contrast(1) ;
  
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}

header {
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
 
  z-index: 1001;
  justify-content: center;
  
}

.header-container {
  position: fixed;

}

.header {
  
  background-color: #4d6bdd;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.header li {
  cursor: pointer;
}

.header-middle li {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
}

.header-middle li:hover {
  background-color: #4361d8;
}

.header-middle {
  justify-content: center;
  display: flex;
  list-style-type: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  white-space: nowrap;
}

.header-middle li {
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 10px;
}

.header-left {
  font-size: 23px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
}

.header-right {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header-right img {
  margin-right: 13px;
}

.header-right:hover {
  background-color: #4361d8;
}

.nilpferd {
  width: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding-top: 5px;
}

.login {
  width: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding-top: 5px;
}

/* ------------------- */

/* News-box */

.news{
  margin-top: 110px;
  display: flex;
  background-color: rgb(255 245 236);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  
}

.neu{
  color: white;
  background-color: rgb(255 155 63);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02rem;
}

.new-text-main p span{
  font-weight: 500;
  margin-right: 4px;

}

.new-text-main p{
  font-weight: 300;
}

.new-text-main{
  margin-right: 40px;
}

.compare-text{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.compare-text p{
  color: rgb(255 155 63);
  font-weight: 500;
  margin-right: 7px;
}

.compare-text img{
  width: 16px;

}

/* ----------------- */

/* Opener */

.Opener{
  display: flex;
  background-color: rgb(238 240 252);
 margin-top: 20px;
 border-radius: 10px;
 height: 482px;
 justify-content: center;
  align-items: center;
  

}



.Opener-left{
  max-width: 500px;
}

.Opener-left-header{
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: rgb(20 41 75);
}



.Opener-left-text p{
  margin-top: 10px;
  letter-spacing: 0.05px;
  font-size: 18px;
  line-height: 29px;
  color: rgb(20 41 75);
}

.Opener-left-buttons{
  display: flex;
  margin-top: 40px;
  
}

.Opener-left-button-left:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(58, 58, 203);
}

.Opener-left-button-right:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(230, 233, 251);
}

.Opener-left-button-left{
  background-color: rgb(70, 70, 207);
  color: white;
  border: solid 1px  rgb(70, 70, 207);
  padding: 15px;
  border-radius: 7px;
  font-size: 17px;
  margin-right: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.Opener-left-button-right{
  background-color: rgb(238 240 252);
  border: solid 1px rgb(70, 70, 207);
  padding: 15px;
  border-radius: 7px;
  color: #4d6bdd;
  font-size: 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Opener-left-button-right img{
  max-width: 20px;
  margin-right: 7px;
}

.Opener-right{
  align-items: baseline;
  justify-content: baseline;
  margin-top: 118px;

}
.Opener-right img{
  max-width: 450px;
  
}




/* Vergleichsrechner */


.vergleichsrechner {
  
  justify-content: center;
  align-items: center;
}


.vergleichsrechner-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  font-size: 33px;
  font-weight: 600;
  color: rgb(21 40 75);
  letter-spacing: 0.6px;
}

.vergleichsrechner-content{
  
  justify-content: center;
  align-items: center;
  
}

.vergleichsrechner-content ul{
  list-style: none;
  display: flex;
  justify-content: center;
  
}
/* top */

.vergleichsrechner-top img{
  width: 55px;
  padding: 12px;
  background-color: #edf0fc;
  border-radius: 10px;
  
  
}
.vergleichsrechner-top p{
  margin-top: 20px;
  color: rgb(21 40 75);
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 18px;
  justify-content: center;
}

.vergleichsrechner-top li{
  
  background-color: white;
  box-shadow: 0 4px 24px #00000014, 0 0 2px #00000029;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 40px;
  border-radius: 10px;
  width: 195px;
  justify-content: center;
  cursor: pointer;
  transition:  0.3s ease;
}

.vergleichsrechner-top li:hover{
  transform: scale(1.05); /* Skaliert das Element auf 110% seiner Größe */
  box-shadow: 0 8px 32px #0000001a, 0 0 4px #0000004d;
}

.girokonto {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.girokonto-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}


.kreditkarte {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.kreditkarte-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.tagesgeld {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.tagesgeld-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.festgeld {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.festgeld-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

/* bottom */

.vergleichsrechner-bottom img{
  width: 55px;
  padding: 12px;
  background-color: #edf0fc;
  border-radius: 10px;
  
}
.vergleichsrechner-bottom p{
  margin-top: 20px;
  color: rgb(21 40 75);
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 18px;
  justify-content: center;
}

.vergleichsrechner-bottom li{
  
  background-color: white;
  box-shadow: 0 4px 24px #00000014, 0 0 2px #00000029;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 40px;
  border-radius: 10px;
  width: 195px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.vergleichsrechner-bottom li:hover{
  transform: scale(1.05); /* Skaliert das Element auf 110% seiner Größe */
  box-shadow: 0 8px 32px #0000001a, 0 0 4px #0000004d;
}



.depot {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.depot-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}


.etf-sparplan {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.etf-sparplan-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.kryptobörse {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.kryptobörse-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.steuerprogramm {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.steuerprogramm-p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}







