*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    margin: 0; 
    padding: 20px; 
    box-sizing: border-box;
}

.container {
    margin: 0 auto; 
    max-width: 1850px; 
   
}

header{
    margin-top: 10px;
}

.header{
    background-color: rgb(77 107 221);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between; /* Verteilt den Platz zwischen den flex-Elementen */
    position: relative;
}


.header-middle{
    justify-content: center;
    display: flex;
    list-style-type: none;
    position: absolute; /* Absolute Positionierung */
    left: 50%;
    transform: translateX(-50%); 
    
}

.header-middle li{
    padding-left: 27px;
    padding-right: 27px;
}

.header-right{
    font-size: 23px;
    display: flex;
    justify-content: flex-start;
   
}

.header-left  {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  
}